* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


a {
    text-decoration: none;
    color: #fff;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
}


h1 {
    width: 100%;
    flex: content;
    font-size: 3.5rem;
    background-color: rgba(7, 24, 206, 0.674); 
    text-align: center;
    box-shadow: 10px 1px 2px #0000005e;
}





/* ESTILO BOTONES */

.btn {
    width: 100%;
    height: 10vh;
    color: #fff;
    padding: 5%;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(90deg,rgba(7, 24, 206, 0.674), #7991da);
    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-size: 2.5rem;
    font-weight: 600;
}

.btn:hover {
    cursor: pointer;
    transform: scale(110%, 110%);
}



/* PANTALLA QUIZ  */

#pantalla-quiz {
    display: flex;
    width: 70%;
    flex: 6 1 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
    gap: 5vh;
}

#pantalla-quiz span:first-child {
    width: 100%;
    height: 17vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 21px;
    background: linear-gradient(45deg, #6d83c4, #819be9);
    box-shadow:  1px 1px 2px #7890d8;
}


#mensaje {
    width: 100%;
    height: 4vh;
    text-align: center;
    font-weight: 900;
}


#pantalla-quiz span p {
    font-size: 3rem;
    font-weight: bolder;
}

#pantalla-quiz input {
    width: 100%;
    height: 5vh;
    border: #7991da solid 1px;
}

#pantalla-quiz input:focus {
    outline: none;
    border: #1147e8 solid 2px;
}

/* PANTALLA RESULTADOS */

#pantalla-resultados {
    display: none;
    flex: 6 1 100%;
    width: 100%;
    background-color: rgba(7, 24, 206, 0.674);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

#pantalla-resultados .btn {
    width: 100%;
    height: 100%;
    background-color: #a3b2ff;
    background-image: linear-gradient(45deg, #a3b2ff, #6ea8ff);
}

#pantalla-resultados a {
    width: 70%;
    height: 28%;
}


/* FOOTER */

footer {
    flex: content;
    background-color: rgba(7, 24, 206, 0.674);
    padding: 4%;
    width: 100%;
    text-align: center;
}











/* RESPONSIVE PC */

@media screen and (min-width: 1024px){


    /* PANTALLA QUIZ */

    #pantalla-quiz {
        padding-top: 4%;
    }

    #pantalla-quiz span:first-child {
        width: 45%;
    }

    #pantalla-quiz input {
        width: 30%;
        height: 8vh;
        border: #7991da solid 1px;
    }

    #pantalla-quiz input:focus {
        border: #1147e8 solid 2px;
    }


    /* BOTON */

    .btn {
        width: 50%;
        padding: 0;
    }


    #pantalla-resultados .btn {
        width: 50%;
        height: 50%;
        margin-left: 25%;
        background-color: #a3b2ff;
        background-image: linear-gradient(45deg, #a3b2ff, #6ea8ff);
    }

    /* FOOTER */
    
    footer {
        padding: 1%;

    }
}